<div
  class="h-dvh p-4 sm:p-6 md:p-8 flex items-center justify-center">
  <p-card class="w-md max-w-xl shadow shadow-black/60">
    <h2 class="text-3xl font-bold text-center my-2">CMRP</h2>
    <!--    Form container-->
    <form (ngSubmit)="onSubmit()" [formGroup]="authForm" class="flex flex-col gap-4">
      <!--      Conditionally render form description-->
      <ng-container [ngTemplateOutlet]="formType() === 'login' ? loginDescription : signupDescription"></ng-container>

      <div [class]="cn('grid grid-cols-1 gap-4',
      {
      'md:grid-cols-2': formType() === 'signup'
      }
      )">
        <!--      Map through dynamic form elements-->
        @for (control of authFormControls(); track control) {
          @let
          inputError = authForm.get(control)?.invalid && (authForm.get(control)?.dirty || authForm.get(control)?.touched);
          @let label = control.split('_').join(' ');
          <div [class]="cn('', {
          'md:col-span-2': control === 'name' && formType() === 'signup'
          })">
            <p-float-label variant="on">
              @if (control === 'password' || control === 'confirm_password') {
                <label class="text-sm" [for]="control">{{ control | titlecase }}</label>
                <p-password [toggleMask]="true" autocomplete="on" [id]="control" [formControlName]="control"
                            [invalid]="inputError"
                            [feedback]="formType() === 'signup' && control === 'password'"
                            [class]="cn('w-full invalid:text-red-600', {
                            '!text-red-600': inputError
                            })"
                            inputStyleClass="w-full"
                            size="small"
                >

                  @if (formType() === 'signup') {
                    <ng-template #footer>
                      <ul class="pl-2 mt-2 text-xs">
                        <li>At least one lowercase</li>
                        <li>At least one uppercase</li>
                        <li>At least one numeric</li>
                        <li>Minimum 8 characters</li>
                      </ul>
                    </ng-template>
                  }
                </p-password>
              } @else if (control === 'telephone' && formType() === 'signup') {
                <p-input-mask
                  mask="(999) 999-9999"
                  size="small"
                  styleClass="w-full"
                  [invalid]="inputError"
                  [id]="control"
                  [formControlName]="control"
                  [unmask]="true"
                />
              } @else {
                <input autocomplete="on" [type]="getInputType(control)" [id]="control" [formControlName]="control"
                       pInputText
                       pSize="small"
                       class="w-full"
                       [invalid]="inputError"
                />
              }
              <label class="text-sm" [for]="control">{{ label | titlecase }}</label>
            </p-float-label>

            @if (inputError) {
              <div class="text-xs text-red-600">
                @if (authForm.get(control)?.errors?.['required']) {
                  <div>{{ label | titlecase }} is required</div>
                }
                @if (authForm.get(control)?.errors?.['email']) {
                  <div>Please enter a valid email address</div>
                }
                @if (authForm.get(control)?.errors?.['minlength']) {
                  <div>{{ control | titlecase }} must be at least 5 characters long</div>
                }
                @if (authForm.get(control)?.errors?.['invalidGhanaPhone']) {
                  <div>Enter a valid 10-digit Ghanaian phone number (e.g., 0241234567).</div>
                }
                @if (authForm.get('confirm_password')?.errors?.['passwordMismatch']) {
                  <div>Passwords do not match.</div>
                }
              </div>
            }
          </div>
        }
      </div>
      <button
        [disabled]="authForm.invalid"
        pButton
        size="small"
        type="submit">{{ formType() === "signup" ? "Sign Up" : "Sign In" }}
      </button>
      <div class="text-xs **:text-sm flex items-center -mt-4">
        <span>{{ formType() === 'signup' ? 'Already have an account?' : "Don't have an account?" }}</span>
        <p-button
          (onClick)="formType.set(formType() === 'signup' ? 'login' : 'signup')"
          [label]="formType() === 'signup' ? 'Sign In' : 'Sign Up'"
          link
          styleClass="text-blue-600 -ml-2"
        />
      </div>
    </form>

  </p-card>
</div>

<!-- Login Description Template -->
<ng-template #loginDescription>
  <div class="flex flex-col text-center">
    <h3 class="capitalize font-semibold text-2xl">welcome back </h3>
    <p class="text-xs">Today is a new day. It's your day. Shape it</p>
    <p class="text-xs">Access your city management dashboard.</p>
  </div>
</ng-template>

<!-- Signup Description Template -->
<ng-template #signupDescription>
  <div class="flex flex-col text-center">
    <h3 class="capitalize font-semibold text-2xl">Create an Account</h3>
    <p class="text-xs">Join the urban management revolution.</p>
  </div>
</ng-template>
