<div class="border shadow rounded-lg border-dark-gray/50 flex flex-col gap-4 p-4 h-full">
  <div class="flex justify-between gap-4 items-center">
    <span class="font-semibold capitalize text-black">{{ incident().title }}</span>
    <div class="flex items-center gap-2">
      <p-chip
        [class]="cn('text-sm text-white font-semibold', {
            'bg-blue-500': incident().status === 'in progress',
            'bg-yellow-500': incident().status === 'pending',
            'bg-green-500': incident().status === 'resolved',
            })"
      >{{ incident().status }}
      </p-chip>
      <p-chip
        [class]="cn('text-sm text-white font-semibold', {
            'bg-neutral-500': incident().severity === 'low',
            'bg-yellow-500': incident().severity === 'medium',
            'bg-orange-500': incident().severity === 'high',
            'bg-red-500': incident().severity === 'critical',
            })"
      >{{ incident().severity }}
      </p-chip>
    </div>
  </div>
  <p class="text-sm text-neutral-500">{{ incident().details }}</p>
  <div class="flex flex-col gap-2 text-neutral-500 text-sm">
    <!--location-->
    <span class="flex items-center gap-2">
            <i class="pi pi-map-marker"></i>
            <span class="capitalize">{{ incident().location }}</span>
          </span>
    <!--reporter-->
    <span class="flex items-center gap-2">
            <i class="pi pi-user"></i>
            <span class="capitalize">reported by: {{ incident().reporter }}</span>
          </span>
    <!--date-->
    <span class="flex items-center gap-2">
            <i class="pi pi-calendar"></i>
            <span class="capitalize">{{ incident().date }}</span>
          </span>
    <!--assigned to-->
    @if (incident().assignedTo.length > 2) {
      <span class="flex items-center gap-2">
            <i class="pi pi-user"></i>
            <span class="capitalize">assigned to: {{ incident().assignedTo }}</span>
          </span>
    }
  </div>
</div>
