<div class="flex flex-col mb-6">
  <h4 class="font-bold text-3xl">Incident Management</h4>
  <p class="text-neutral-500">Monitor and manage active incidents across the city</p>
</div>

<!--Incident highlights -->
<div class="mt-6 grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 xl:grid-cols-4 gap-5">
  @for (incident of incidentsSummary; track incident.title) {
    <cmrp-incident-highlight [incident]="incident"/>
  }
</div>

<div class="rounded-md shadow border border-dark-gray/50 flex flex-col gap-3 p-4 mt-6">
  <div class="flex flex-col md:flex-row md:items-center gap-4 md:justify-between">
    <div class="flex flex-col">
      <span class="font-bold text-3xl">Current Incidents</span>
      <p class="text-neutral-500">Active and ongoing incidents requiring attention</p>
    </div>

    <div class="flex flex-col sm:flex-row sm:items-center gap-4">
      <p-icon-field class="w-full">
        <p-inputicon class="pi pi-search"/>
        <input (ngModelChange)="searchValue.set($event)"
               [ngModel]="searchValue()"
               class="w-full"
               pInputText
               placeholder="Search"
               type="search"
        />
      </p-icon-field>
      <p-select
        (ngModelChange)="selectedStatus.set($event)"
        [ngModel]="selectedStatus()"
        [options]="incidentFilters"
        class="w-full md:w-64"
        optionLabel="name"
        placeholder="Select status"
      />
    </div>
  </div>


  <!--Incidents table-->
  <p-table
    [alwaysShowPaginator]="false"
    [paginator]="true"
    [rows]="10"
    [tableStyle]="{ 'min-width': '60rem' }"
    [value]="isFetchingIncidents() ? tableSkeletonArray : filteredIncidents()"
    class="mt-5"
  >
    <ng-template #header>
      <tr>
        @for (header of incidentTableHeaders; track header) {

          <th [id]="header">{{ header | titlecase }}</th>
        }
      </tr>
    </ng-template>
    <ng-template #body let-incident>

      @if (isFetchingIncidents()) {
        <tr>
          @for (el of tableSkeletonArray; track $index) {
            <td>
              <p-skeleton/>
            </td>
          }
        </tr>
      } @else {
        @let status = incident.status.toLowerCase().split("_").join(" ");
        <tr>
          <td class="uppercase">{{ incident.incidentId.slice(0, 7) }}</td>
          <td>{{ incident.title }}</td>
          <td>{{ incident.location }}</td>
          <td>
            <p-tag [rounded]="true" [severity]="getIncidentSeverity(incident.severity)"
                   [value]="incident.severity"/>
          </td>
          <td>
            <p-tag [rounded]="true" class="w-max" [severity]="getIncidentSeverity(incident.status.toLowerCase())"
                   [value]="status"/>
          </td>
          <td>{{ incident.assignedOfficer }}</td>
          <td>{{ incident.reported }}</td>
          <td>
            <div class="flex items-center gap-2">
              <p-button
                (click)="incidentAction(incident.incidentId, false)"
                (keyup)="incidentAction(incident.incidentId, false)"
                aria-label="view incident"
                icon="pi pi-eye"
                pTooltip="View incident"
                tooltipPosition="top"
                tooltipStyleClass="w-max!"
                type="button"
                variant="text"
              />
              <p-button
                (click)="incidentAction(incident.incidentId, true)"
                (keyup)="incidentAction(incident.incidentId, true)"
                aria-label="update incident"
                icon="pi pi-pencil"
                pTooltip="Update incident"
                tooltipPosition="top"
                tooltipStyleClass="w-max!"
                variant="text"
              />
            </div>
          </td>
        </tr>
      }
    </ng-template>
    <ng-template #footer>
      @if (!isFetchingIncidents() && filteredIncidents().length === 0) {
        <tr>
          <td colspan="8">
            <div class="flex flex-col gap-2 items-center justify-center h-58">
              <img ngSrc="/assets/empty.svg" priority alt="empty" height="130" width="160">
              <span class="text-sm text-slate-500">No incidents created :(</span>
            </div>

          </td>
        </tr>
      } @else {
        <tr>
          <td colspan="8">In total there are {{ filteredIncidents() ? filteredIncidents().length : 0 }} incidents.</td>
        </tr>
      }
    </ng-template>
  </p-table>
</div>

<!--Incident details modal-->
@if (showIncidentDetailsModal) {
  <p-dialog [(visible)]="showIncidentDetailsModal" [modal]="true"
            [breakpoints]="{ '5199px': '30vw', '1699px': '45vw', '1199px': '55vw', '1029px': '75vw', '575px': '90vw' }"
            [style]="{ width: '50vw' }"
            [draggable]="false"
            [resizable]="false">
    <ng-template #header>
      <div class="flex flex-col">
        <span class="font-bold text-xl">{{ getIncidentDetails().title }}</span>
        <span
          class="text-neutral-500">incident details -
          <span class="uppercase">
          {{ getIncidentDetails().incidentId.slice(0, 7) }}
          </span>
        </span>
      </div>
    </ng-template>
    <cmrp-incident-details
      [showEditOptions]="showEditDetailsOptions()"
      [incident]="getIncidentDetails()"
      (updateIncidentStatus)="incidentStatus.set($event)"
    />

    @if (showEditDetailsOptions()) {
      <ng-template #footer>
        <div class="flex items-center gap-4 justify-between">
          <p-button
            (keyup)="showIncidentDetailsModal=false"
            (click)="showIncidentDetailsModal=false" label="Cancel" variant="outlined"/>
          <button aria-label="Submit"
                  (click)=" updateIncidentStatus()"
                  pButton class="bg-primary!">Submit
          </button>
        </div>
      </ng-template>
    }
  </p-dialog>
}
