<div class="flex gap-4 justify-between items-center">
  <div class="flex flex-col mb-6">
    <h4 class="font-bold text-3xl">Dashboard</h4>
    <p class="text-neutral-500">Manage and track city incidents and reports</p>
  </div>
</div>

<!--incidents summary section-->
<div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 xl:grid-cols-4 gap-5">
  @if (isFetchingIncidents()) {
    @let skeletonArray = Array(4).fill(0);

    @for (el of skeletonArray; track $index) {
      <div class="rounded-md border shadow border-surface-200 p-4 bg-surface-0">
        <div class="flex justify-between gap-2 mb-4">
          <p-skeleton width="12rem"/>
          <p-skeleton shape="square" size="2.5rem"/>
        </div>
        <div class="flex flex-col gap-2 mt-6">
          <div class="flex gap-2">
            <p-skeleton width="1rem" height="1.5rem"/>
          </div>
          <p-skeleton height=".7rem"/>
        </div>

      </div>
    }
  } @else {
    @for (incident of incidentSummaryCards(); track incident.title) {
      <p-card class="w-full rounded-lg border border-dark-gray/50 flex flex-col gap-2">
        <div class="flex items-center justify-between gap-4">
          <span class="capitalize text-black text-md font-semibold">{{ incident.title }}</span>
          <div
            [class]="cn('text-white h-10 w-10 rounded-lg flex items-center justify-center', {
          'bg-linear-to-t from-sky-500 to-indigo-500': ['total incidents', 'in progress'].includes(incident.title.toLowerCase()),
          'bg-yellow-500': incident.title.toLowerCase() === 'pending review',
          'bg-green-500': incident.title.toLowerCase() === 'resolved',
          })"
          >
            <i [class]="incident.icon" style="font-size: 1.3rem"></i>
          </div>
        </div>
        <span class="font-bold text-2xl">{{ incident.total }}</span>
        <p class="text-neutral-500 text-sm my-2">{{ incident.description }}</p>
      </p-card>
    }
  }
</div>

<!--Recent incidents section-->
<p-card class="mt-6 w-full p-3 rounded-lg border border-dark-gray/50 flex flex-col gap-5">
  <span class="flex items-center gap-2 capitalize font-bold text-2xl">
    <i class="pi pi-exclamation-triangle" style="font-size: 1.5rem"></i>
    <span>recent incidents</span>
  </span>

  <!--  incident cards-->
  <div class="grid grid-cols-1 sm:grid-cols-2 xl:grid-cols-3 gap-4 mt-6">
    @for (incident of recentIncidentsData; track incident.title) {
      <cmrp-incident-card
        [incident]="incident"
      />
    }
  </div>
</p-card>

<!--&lt;!&ndash;Quicksight integration&ndash;&gt;-->
<!--<div class=" border mt-6">-->
<!--  <iframe class="w-full h-[32rem] lg:h-[38rem]"-->
<!--          src="https://eu-west-1.quicksight.aws.amazon.com/sn/embed/share/accounts/605134436600/dashboards/9824a03f-fef9-4507-b432-bdd619b87d96/sheets/9824a03f-fef9-4507-b432-bdd619b87d96_b70df44b-adab-43d2-9a1c-94cdd5ee335f/visuals/9824a03f-fef9-4507-b432-bdd619b87d96_0f868001-1281-4183-9ec8-8eaa2901e2d2?directory_alias=GroupOne"-->
<!--          title="Incidents"-->
<!--  ></iframe>-->
<!--</div>-->
