<div class="flex gap-4 justify-between items-center mt-4 mb-10">
  <div class="flex flex-col gap-2">
    <h4 class="font-bold text-3xl">Dashboard</h4>
    <p class="text-neutral-500">Manage and track city incidents and reports</p>
  </div>
</div>

<!--incidents summary section-->
<div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 xl:grid-cols-4 gap-5 mb-10">
  <!--Skeleton loader if incidents are being fetched-->
  @if (isFetchingIncidents()) {
    @let skeletonArray = Array(4).fill(0);

    @for (el of skeletonArray; track $index) {
      <div class="rounded-md border shadow border-surface-200 p-4 bg-surface-0">
        <div class="flex justify-between gap-2 mb-4">
          <p-skeleton width="12rem"/>
          <p-skeleton shape="square" size="2.5rem"/>
        </div>
        <div class="flex flex-col gap-2">
          <div class="flex gap-2">
            <p-skeleton width="1rem" height="1.5rem"/>
          </div>
          <p-skeleton height=".7rem"/>
        </div>

      </div>
    }
  } @else {
    <!--Incidents summary cards-->
    @for (incident of incidentSummaryCards(); track incident.title) {
      <p-card class="w-full rounded-lg border border-dark-gray/50 flex flex-col gap-2">
        <div class="flex items-center justify-between gap-4">
          <span class="capitalize text-black text-md font-semibold">{{ incident.title }}</span>
          <div
            [class]="cn('text-white h-10 w-10 rounded-lg flex items-center justify-center', {
          'bg-linear-to-t from-sky-500 to-indigo-500': ['total incidents', 'in progress'].includes(incident.title.toLowerCase()),
          'bg-yellow-500': incident.title.toLowerCase() === 'pending review',
          'bg-green-500': incident.title.toLowerCase() === 'resolved',
          })"
          >
            <i [class]="incident.icon" style="font-size: 1.3rem"></i>
          </div>
        </div>
        <span class="font-bold text-2xl">{{ incident.total }}</span>
        <p class="text-neutral-500 text-sm my-2">{{ incident.description }}</p>
      </p-card>
    }
  }
</div>

<!--Recent incidents section-->
<p-card class="mt-6 w-full p-3 rounded-lg border border-dark-gray/50 flex flex-col gap-5">
  <span class="flex items-center gap-2 capitalize font-bold text-2xl">
    <i class="pi pi-exclamation-triangle" style="font-size: 1.5rem"></i>
    <span>recent incidents</span>
  </span>

  <!--Loading skeletons-->
  @let skeletonArray = Array(3).fill(0);
  @if (isFetchingIncidents()) {
    <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 gap-4">
      @for (el of skeletonArray; track $index) {
        <div class="rounded-md border shadow border-surface-200 px-4 py-6 bg-surface-0">
          <div class="flex justify-between gap-2 mb-4">
            <p-skeleton width="10rem"/>
            <div class="flex items-center gap-2">
              <p-skeleton width="3rem"/>
              <p-skeleton width="3rem"/>
            </div>
          </div>
          <div class="flex flex-col gap-6 mt-6">
            <div class="flex gap-3 flex-col">
              <p-skeleton height="1rem"/>
              <p-skeleton height="1rem"/>
            </div>
            <div class="flex flex-col gap-3">
              <p-skeleton height="1rem"/>
              <p-skeleton height="1rem"/>
              <p-skeleton height="1rem"/>
              <p-skeleton height="1rem"/>
            </div>
          </div>
        </div>

      }
    </div>
  } @else {
    <!--  incident cards-->
    <div [class]="recentIncidents().length > 0 ? 'grid grid-cols-1 sm:grid-cols-2 xl:grid-cols-3 gap-4 mt-6' : ''">
      @for (incident of recentIncidents(); track incident.incidentId) {
        <cmrp-incident-card
          [incident]="incident"
        />
      } @empty {
        <div class="flex flex-col gap-2 items-center justify-center py-6">
          <img src="assets/empty.svg" alt="empty">
          <p class="text-slate-500">No incidents created :(</p>
        </div>
      }
    </div>
  }
</p-card>
